<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-row>
        <ion-col text-center>
          <ngx-gauge
            [type]="gaugeType" 
            [value]="gaugeValue" 
            [label]="gaugeLabel"  
            [append]="gaugeAppendText"
            [foregroundColor]="gaugeColor"
            [min]= "-50"
            [max]= "80">
          </ngx-gauge>
        </ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-title text-center>Temprature sensor</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-row>
          <ion-col text-center>
            <ngx-gauge 
            [type]="gaugeType2" 
            [value]="gaugeValue2" 
            [label]="gaugeLabel2"  
            [append]="gaugeAppendText2"
            [foregroundColor]="gaugeColor"
            [min]= "0"
            [max]= "100">
          </ngx-gauge>
        </ion-col>
        </ion-row>
        <ion-card-header>
          <ion-card-title text-center>Humidity sensor</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card>
          <ion-card-header>
              <ion-card-title text-center>LED Color</ion-card-title>
          </ion-card-header>
            <div [(colorPicker)]="ledColor"
                [style.background]="ledColor"
                [cpToggle]="true"
                [cpDialogDisplay]="'inline'"></div>
          <ion-row>
            <ion-col text-center>
                <ion-button (click)="colorChange()" color="primary">
                    <ion-ripple-effect></ion-ripple-effect>
                    Set LED color</ion-button>
            </ion-col>
          </ion-row>
      </ion-card>
</ion-content>
